*.iml
*.apk
*.aab
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/
/build/*
app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
app/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.lucasrodrigues.a3dmarkertest-binding_classes.json
app/build/intermediates/dex/debug/mergeProjectDexDebug/0/classes.dex
app/build/intermediates/dex/debug/mergeProjectDexDebug/11/classes.dex
app/build/intermediates/dex_archive_input_jar_hashes/debug/out
app/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merger.xml
app/build/intermediates/incremental/mergeDebugResources/stripped.dir/layout/map_overlay_car_marker.xml
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
app/build/intermediates/merged_res/debug/drawable_ship_body.png.flat
app/build/intermediates/merged_res/debug/values_values.arsc.flat
app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
app/build/intermediates/merged_res_blame_folder/debug/out/single/debug.json
app/build/intermediates/processed_res/debug/out/resources-debug.ap_
app/build/intermediates/project_dex_archive/debug/out/2711deb83906166e97bf685b12a3dd3cd860199ba5c735e2c940ed47504d16ca_0.jar
app/build/intermediates/project_dex_archive/debug/out/2711deb83906166e97bf685b12a3dd3cd860199ba5c735e2c940ed47504d16ca_1.jar
app/build/intermediates/project_dex_archive/debug/out/2711deb83906166e97bf685b12a3dd3cd860199ba5c735e2c940ed47504d16ca_2.jar
app/build/intermediates/project_dex_archive/debug/out/2711deb83906166e97bf685b12a3dd3cd860199ba5c735e2c940ed47504d16ca_3.jar
app/build/intermediates/project_dex_archive/debug/out/5f6138f1df9988c731e2ce7410574a5522f91f47c7d76cbab5353ab70fa42032_0.jar
app/build/intermediates/project_dex_archive/debug/out/5f6138f1df9988c731e2ce7410574a5522f91f47c7d76cbab5353ab70fa42032_1.jar
app/build/intermediates/project_dex_archive/debug/out/5f6138f1df9988c731e2ce7410574a5522f91f47c7d76cbab5353ab70fa42032_2.jar
app/build/intermediates/project_dex_archive/debug/out/5f6138f1df9988c731e2ce7410574a5522f91f47c7d76cbab5353ab70fa42032_3.jar
app/build/intermediates/project_dex_archive/debug/out/com/lucasrodrigues/a3dmarkertest/CarType.dex
app/build/intermediates/project_dex_archive/debug/out/com/lucasrodrigues/a3dmarkertest/LatLngInterpolator$Linear$Companion.dex
app/build/intermediates/project_dex_archive/debug/out/com/lucasrodrigues/a3dmarkertest/LatLngInterpolator.dex
app/build/intermediates/runtime_symbol_list/debug/R.txt
app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
app/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
app/build/kotlin/compileDebugKotlin/local-state/build-history.bin
app/build/tmp/kotlin-classes/debug/com/lucasrodrigues/a3dmarkertest/CarType.class
app/build/tmp/kotlin-classes/debug/com/lucasrodrigues/a3dmarkertest/LatLngInterpolator$Linear$Companion.class
app/build/tmp/kotlin-classes/debug/com/lucasrodrigues/a3dmarkertest/LatLngInterpolator.class
